In [ ]:
#először az átalakított ratings listán, később a ténylegesen adatbázisba kerülő ratings listán futtattam le

In [1]:
import pandas as pd
#path = 'transformed_ratings.csv'
path = 'final_ratings.csv'
ratings = pd.read_csv(path, header=None)

In [2]:
ratings

               0       1    2
0         108394       1  7.0
1         107302       1  7.0
2          98627       1  3.0
3          88794       1  9.0
4         118111       1  9.0
...          ...     ...  ...
27743621   28772  283228  9.0
27743622   29284  283228  9.0
27743623  379786  283228  9.0
27743624  393109  283228  9.0
27743625  440963  283228  9.0

[27743626 rows x 3 columns]

In [3]:
#feldarabolás, 1 000 000 lesz egy listában
chunks = [ratings[x:x+1000000] for x in range(0, len(ratings), 1000000)]

In [4]:
chunks

[             0      1    2
 0       108394      1  7.0
 1       107302      1  7.0
 2        98627      1  3.0
 3        88794      1  9.0
 4       118111      1  9.0
 ...        ...    ...  ...
 999995  398165  10073  6.0
 999996  356910  10073  6.0
 999997  372784  10073  9.0
 999998  374536  10073  6.0
 999999  407304  10073  7.0

 [1000000 rows x 3 columns],
               0      1    2
 1000000  120667  10073  5.0
 1000001  396269  10073  7.0
 1000002  399201  10073  7.0
 1000003  379786  10073  7.0
 1000004  367652  10073  4.0
 ...         ...    ...  ...
 1999995  112461  20510  7.0
 1999996  112384  20510  9.0
 1999997  112462  20510  7.0
 1999998  113749  20510  8.0
 1999999  113820  20510  3.0

 [1000000 rows x 3 columns],
                0      1    2
 2000000   114898  20510  7.0
 2000001   109686  20510  6.0
 2000002   110148  20510  7.0
 2000003    76759  20510  7.0
 2000004   110367  20510  7.0
 ...          ...    ...  ...
 2999995  1119646  30860  7.0
 2999996   870984  30860  1.0
 2999997   456165  30860  7.0
 2999998  1041829  30860  7.0
 2999999   887912  30860  8.0

 [1000000 rows x 3 columns],
                0      1     2
 3000000  1055369  30860   8.0
 3000001  1080016  30860   7.0
 3000002   889583  30860   7.0
 3000003   417741  30860   7.0
 3000004   404254  30860   5.0
 ...          ...    ...   ...
 3999995   375679  41202  10.0
 3999996   425210  41202   8.0
 3999997   407887  41202   8.0
 3999998   479143  41202   8.0
 3999999   382932  41202   8.0

 [1000000 rows x 3 columns],
               0      1     2
 4000000  425112  41202   9.0
 4000001  114709  41203   6.0
 4000002   76759  41203   6.0
 4000003  110632  41203   8.0
 4000004  110912  41203   8.0
 ...         ...    ...   ...
 4999995   88178  51370   8.0
 4999996   58182  51370  10.0
 4999997   68473  51370   6.0
 4999998   82348  51370   8.0
 4999999  111419  51370   4.0

 [1000000 rows x 3 columns],
                0      1     2
 5000000    73812  51370   6.0
 5000001    91042  51370   4.0
 5000002    87980  51370   8.0
 5000003    82979  51370   6.0
 5000004    52225  51370   4.0
 ...          ...    ...   ...
 5999995   829482  61644   6.0
 5999996  1093842  61644  10.0
 5999997   765443  61644   8.0
 5999998   477348  61644  10.0
 5999999   480249  61644   4.0

 [1000000 rows x 3 columns],
                0      1     2
 6000000   467406  61644   4.0
 6000001   408236  61644   6.0
 6000002   469494  61644  10.0
 6000003  1060277  61644   6.0
 6000004   411477  61644   6.0
 ...          ...    ...   ...
 6999995   325980  71891  10.0
 6999996   311429  71891   8.0
 6999997    88944  71891   8.0
 6999998   301470  71891   8.0
 6999999   266697  71891   8.0

 [1000000 rows x 3 columns],
               0      1     2
 7000000  348836  71891   6.0
 7000001  119167  71891   8.0
 7000002   77745  71891   6.0
 7000003   99938  71891   9.0
 7000004  105104  71891  10.0
 ...         ...    ...   ...
 7999995  116654  82371   6.0
 7999996   67992  82371   6.0
 7999997  108598  82371  10.0
 7999998  112573  82372   6.0
 7999999  110912  82372   2.0

 [1000000 rows x 3 columns],
               0      1    2
 8000000  111161  82372  6.0
 8000001  110265  82372  2.0
 8000002  108052  82372  6.0
 8000003  102926  82372  8.0
 8000004   95016  82372  2.0
 ...         ...    ...  ...
 8999995  367594  93022  8.0
 8999996  362270  93022  8.0
 8999997  401233  93022  8.0
 8999998  347149  93022  8.0
 8999999  373074  93022  7.0

 [1000000 rows x 3 columns],
               0       1     2
 9000000  424129   93022   9.0
 9000001  430289   93022   6.0
 9000002  401792   93022  10.0
 9000003   70022   93022   8.0
 9000004  371724   93022   9.0
 ...         ...     ...   ...
 9999995  172495  103020   7.0
 9999996  120755  103020   5.0
 9999997  100403  103020   2.0
 9999998  120630  103020   6.0
 9999999  120903  103020   4.0

 [1000000 rows x 3 columns],
                0       1     2
 10000000   52561  103020   8.0
 10000001  164052  103020   4.0
 10000002  212338  103020   7.0
 10000003  208092  103020   8.0
 10000004  162222  103020   7.0
 ...          ...     ...   ...
 10999995  120623  113012   8.0
 10999996  151804  113012  10.0
 10999997  120735  113012   9.0
 10999998  133093  113012  10.0
 10999999  145660  113012  10.0

 [1000000 rows x 3 columns],
                0       1     2
 11000000  163651  113012   7.0
 11000001   87332  113012  10.0
 11000002   85995  113012   8.0
 11000003   94737  113012   9.0
 11000004   85334  113012   8.0
 ...          ...     ...   ...
 11999995   72933  123100   4.0
 11999996   72973  123100   6.0
 11999997   73008  123100   5.0
 11999998   73018  123100   6.0
 11999999   73075  123100   6.0

 [1000000 rows x 3 columns],
                0       1    2
 12000000   73114  123100  9.0
 12000001   73179  123100  8.0
 12000002   73453  123100  7.0
 12000003   73580  123100  7.0
 12000004   73768  123100  6.0
 ...          ...     ...  ...
 12999995  119094  133087  8.0
 12999996  119654  133087  8.0
 12999997  118884  133087  9.0
 12999998  118883  133087  8.0
 12999999  118571  133087  8.0

 [1000000 rows x 3 columns],
                0       1     2
 13000000   99810  133087  10.0
 13000001  119488  133087   9.0
 13000002  119468  133087   8.0
 13000003  119174  133087  10.0
 13000004  118842  133087   8.0
 ...          ...     ...   ...
 13999995   53285  143376   1.0
 13999996  147612  143376   9.0
 13999997  120735  143376  10.0
 13999998  144117  143376  10.0
 13999999   79588  143376   1.0

 [1000000 rows x 3 columns],
                 0       1     2
 14000000   188640  143376   6.0
 14000001   208092  143376  10.0
 14000002   252866  143376   6.0
 14000003   263488  143376   3.0
 14000004   245674  143376   9.0
 ...           ...     ...   ...
 14999995  1308667  153385   8.0
 14999996  1323594  153385   8.0
 14999997  1375666  153385  10.0
 14999998   446029  153385  10.0
 14999999   107501  153386   7.0

 [1000000 rows x 3 columns],
                0       1     2
 15000000  115571  153386   8.0
 15000001   66921  153386  10.0
 15000002   92991  153386   9.0
 15000003  103644  153386   7.0
 15000004  119081  153386   8.0
 ...          ...     ...   ...
 15999995   71853  163458  10.0
 15999996   80684  163458   9.0
 15999997   82971  163458   7.0
 15999998   86190  163458   9.0
 15999999   71562  163458   7.0

 [1000000 rows x 3 columns],
                0       1     2
 16000000  133093  163458   9.0
 16000001   91042  163458   7.0
 16000002  137523  163458   9.0
 16000003  120737  163458  10.0
 16000004  268380  163458   7.0
 ...          ...     ...   ...
 16999995  116483  173887  10.0
 16999996  112442  173887   8.0
 16999997  103994  173887   6.0
 16999998  109830  173887  10.0
 16999999  111804  173887  10.0

 [1000000 rows x 3 columns],
                 0       1     2
 17000000   106677  173887  10.0
 17000001    57012  173887   8.0
 17000002    68646  173887  10.0
 17000003    44081  173887   6.0
 17000004    73486  173887   8.0
 ...           ...     ...   ...
 17999995   373889  184018   8.0
 17999996   417741  184018  10.0
 17999997  1375666  184018   8.0
 17999998   926084  184018  10.0
 17999999  1504320  184018  10.0

 [1000000 rows x 3 columns],
                 0       1     2
 18000000  1201607  184018  10.0
 18000001  1210166  184018   9.0
 18000002  1306980  184018   6.0
 18000003   114709  184019   8.0
 18000004   113497  184019   3.0
 ...           ...     ...   ...
 18999995   120587  193931   6.0
 18999996   104952  193931   6.0
 18999997   118799  193931   8.0
 18999998   128445  193931   8.0
 18999999   138097  193931  10.0

 [1000000 rows x 3 columns],
                0       1     2
 19000000  131646  193931   4.0
 19000001  133093  193931   6.0
 19000002  137494  193931   8.0
 19000003  140379  193931   6.0
 19000004  120915  193931   4.0
 ...          ...     ...   ...
 19999995  112642  204025  10.0
 19999996   76759  204025   8.0
 19999997  109830  204025   8.0
 19999998  110213  204025   9.0
 19999999  110357  204025   8.0

 [1000000 rows x 3 columns],
                0       1     2
 20000000  110475  204025  10.0
 20000001  106965  204025   8.0
 20000002  107290  204025  10.0
 20000003  103639  204025   8.0
 20000004   80684  204025   8.0
 ...          ...     ...   ...
 20999995  102803  214527   7.0
 20999996   63522  214527  10.0
 20999997   84787  214527  10.0
 20999998  118799  214527   8.0
 20999999  120586  214527   7.0

 [1000000 rows x 3 columns],
                0       1    2
 21000000  154420  214527  8.0
 21000001  120863  214527  8.0
 21000002  133093  214527  7.0
 21000003  151738  214527  3.0
 21000004  120915  214527  4.0
 ...          ...     ...  ...
 21999995  110093  224904  2.0
 21999996  110167  224904  6.0
 21999997  110213  224904  6.0
 21999998  110357  224904  8.0
 21999999  110475  224904  2.0

 [1000000 rows x 3 columns],
                0       1    2
 22000000  110478  224904  6.0
 22000001  110622  224904  2.0
 22000002  110771  224904  6.0
 22000003  110950  224904  4.0
 22000004  111054  224904  6.0
 ...          ...     ...  ...
 22999995   97289  235212  8.0
 22999996   98536  235212  7.0
 22999997   98577  235212  8.0
 22999998  101465  235212  8.0
 22999999   94868  235212  9.0

 [1000000 rows x 3 columns],
                0       1    2
 23000000   77288  235212  9.0
 23000001  230600  235212  9.0
 23000002   57193  235212  8.0
 23000003   66999  235212  8.0
 23000004  246578  235212  8.0
 ...          ...     ...  ...
 23999995  115491  245317  4.0
 23999996  115433  245317  3.0
 23999997   84021  245317  4.0
 23999998  127723  245317  6.0
 23999999   55254  245317  7.0

 [1000000 rows x 3 columns],
                0       1    2
 24000000   91326  245317  5.0
 24000001  120784  245317  5.0
 24000002  147800  245317  8.0
 24000003  157503  245317  5.0
 24000004   57261  245317  5.0
 ...          ...     ...  ...
 24999995   89908  255483  5.0
 24999996  102803  255483  8.0
 24999997   38969  255483  9.0
 24999998   88161  255483  4.0
 24999999   19422  255483  7.0

 [1000000 rows x 3 columns],
                0       1    2
 25000000   84827  255483  9.0
 25000001  120694  255483  6.0
 25000002   87469  255483  9.0
 25000003   77869  255483  8.0
 25000004  101272  255483  8.0
 ...          ...     ...  ...
 25999995  418689  265605  7.0
 25999996  396171  265605  8.0
 25999997  381061  265605  8.0
 25999998  453467  265605  8.0
 25999999  450259  265605  8.0

 [1000000 rows x 3 columns],
                 0       1    2
 26000000   498380  265605  9.0
 26000001   425112  265605  9.0
 26000002   443706  265605  8.0
 26000003   416449  265605  7.0
 26000004   462322  265605  7.0
 ...           ...     ...  ...
 26999995  1245526  275720  7.0
 26999996  1212419  275720  8.0
 26999997  1542344  275720  6.0
 26999998  1001526  275720  7.0
 26999999   947798  275720  8.0

 [1000000 rows x 3 columns],
                 0       1    2
 27000000   977855  275720  8.0
 27000001  1235189  275720  7.0
 27000002   926084  275720  6.0
 27000003  1504320  275720  9.0
 27000004   398286  275720  8.0
 ...           ...     ...  ...
 27743621    28772  283228  9.0
 27743622    29284  283228  9.0
 27743623   379786  283228  9.0
 27743624   393109  283228  9.0
 27743625   440963  283228  9.0

 [743626 rows x 3 columns]]

In [5]:
#kiírás csv-be, i-t használja, hogy elnevezze a fájlokat (különbözőek legyenek)
import os

csv = "csv"
for i, df in enumerate(chunks, 1):
    filename = "ratings_{}.{}".format(i, csv)
    df.to_csv(filename, index=False, header = False)